<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atdc.spring05.mapper.UserMapper">

<!--    List<User> queryUserList();-->
<!--    User queryUserById();-->
<!--    int addUser();-->
<!--    int updateUser();-->
<!--    int deleteUser();-->
    <select id="queryUserList" resultType="User" >
        select * from badgay
    </select>
    <insert id="addUser" parameterType="User">
        insert into badgay values (#{name},#{uid})
    </insert>


</mapper>